{% extends 'base.html' %}
{% block body %}

</br>
<div class="container">
  <h3>Great! You've checked in.</h3>
  <div>
    Would you like to rate this bathroom?
    </br></br>
    <button type="button" id="do_rate">Yes</button>
    <button type="button" id="dont_rate">No</button>
  </div>
</div>

<script>
  document.getElementById("do_rate").addEventListener('click', function() {
    const url = '/rate/{{ bathroom_id }}/{{checkin_id}}';
    window.location = url;
  })

  document.getElementById("dont_rate").addEventListener('click', function() {
    const url = '/';
    window.location = url;
  })
</script>
{% endblock %}