{% extends 'base.html' %}

{% block head %}
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  {{ super() }}
  <style>
    /* Setting initial map height, width */
    html, body, #map {
      height: 100%;
    }

    /* Styling for bottom block button/footer */
    .footer {
      background-color: #284580;
      font-size: 20px;
      border-radius: 0px;
      color: white;
      position: fixed;
    }
  </style>
  
{% endblock %}

{% block body %}
  <div style="height:100%; width:100%;">
    <div id="map"></div>
  </div>
  <button type="button" class="footer btn-block fixed-bottom" id="search_near_me">Search Near Me</button>
{% endblock %}

{% block scripts %}
  <script src="/static/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW9gm0DCggVs3oySZt2W8dy7Fv1S7wTAQ&callback=initMap"
  async defer>
  </script>
{% endblock %}