{% extends 'base.html' %}
{% block body %}

<h1> My Stuff </h1>

Lists:
<ul style="list-style: none;">
  {% for list in user.lists %}
  <li>
    <a href="{{ url_for('show_user_list', list_id=list.list_id ) }}"> {{ list.list_name }} </a>
  </li>
  {% endfor %}
</ul>

Checkins:
<ul style="list-style: none;">
  {% for checkin in user.checkins %}
  <li>
    <!-- List bathroom names (if available) and/or checkin datetime for bathrooms -->
    {% if checkin.bathroom.name %}
        {{ checkin.bathroom.name }} - {{ checkin.checkin_datetime.strftime('%Y-%m-%d') }}
    {% else %}
        {{ checkin.checkin_datetime.strftime('%Y-%m-%d') }}
    {% endif %}
      <!-- Check if user has already rated this checkin, add button to rate if not -->
    {% if checkin.rating %}
        <button type="button" id="{{ checkin.checkin_id }}">View Rating</button>
        <script>
        document.getElementById("{{ checkin.checkin_id }}").addEventListener('click', function() {
          const url = '/rating/{{ checkin.rating.rating_id }}';
          window.location = url;
          console.log("has rating, rating_id: {{ checkin.rating.rating_id }}");
        })
        </script>
    {% else %}
        <button type="button" id="{{ checkin.checkin_id }}">Add Rating</button>
        <script>
        document.getElementById("{{ checkin.checkin_id }}").addEventListener('click', function() {
          const url = '/rate/{{ checkin.bathroom.bathroom_id }}/{{ checkin.checkin_id}}';
          window.location = url;
          console.log("rating: {{ checkin.rating }}");
        })
        </script>
    {% endif %}
  </li>
  {% endfor %}
</ul>

Ratings:
<ul style="list-style: none;">
  {% for rating in user.ratings %}
  <li>
    {% if rating.bathroom.name %}
      {{ rating.bathroom.name }}
    {% else %}
      {{ rating.bathroom.bathroom_id }}
    {% endif %}
  </li>
  {% endfor %}
</ul>


{% endblock %}